# Flight Delay Analysis Project
#### Analyze flight data to determine the impact of a delayed arriving flight and if there is a correlated departure delay for the same aircraft. 
Research Question: : Is there a correlation between the size of an airport, International versus Regional, and the likelihood that a departing flight would be delayed due to a delayed inbound aircraft? <br>
### Hypothesis:
There is a positive correlation between the size of an airport (International vs. Regional) and the likelihood that a departing flight would be delayed due to a delayed inbound aircraft. Specifically, it is hypothesized that International airports with higher volumes of air traffic will exhibit a higher probability of delayed departures due to late aircraft compared to smaller, Regional airports.

In [1]:
# Import required libraries
import pandas as pd
import numpy as np
import scipy as sc
import time_functions as tf

# Set Pandas display options
pd.options.display.max_columns = None
pd.options.display.max_rows = None

## Import Data
| File                      | Description |
| ------------------------- | ----------- |
| airlines.csv              | Data contains airline name information |
| airports.csv              | Data contains airport information |
| flights.csv               | Data contains all flight data for 2015 |
| international_airports.csv | Data identifies U.S. International Airports |

In [2]:
# Load csv files into Pandas DataFrames
df_airlines = pd.read_csv("data/airlines.csv", index_col=False)
df_airports = pd.read_csv("data/airports.csv", index_col=False)
df_flights = pd.read_csv("data/flights.csv", index_col=False, low_memory=False)
df_intl = pd.read_csv("data/international_airports.csv", index_col=False)

## Assessing Data
Visualize sample data from each of the imported datasets to determine which values will be of interest for the analysis.

In [3]:
# View the first 5 rows of the Airlines dataset
df_airlines.head()

  IATA_CODE                 AIRLINE
0        UA   United Air Lines Inc.
1        AA  American Airlines Inc.
2        US         US Airways Inc.
3        F9  Frontier Airlines Inc.
4        B6         JetBlue Airways

In [4]:
# View the first 5 rows of the Airport dataset
df_airports.head()

,IATA_CODE,AIRPORT,CITY,STATE,COUNTRY,LATITUDE,LONGITUDE
0,ABE,Lehigh Valley International Airport,Allentown,PA,USA,40.65236,-75.44040
1,ABI,Abilene Regional Airport,Abilene,TX,USA,32.41132,-99.68190
2,ABQ,Albuquerque International Sunport,Albuquerque,NM,USA,35.04022,-106.60919
3,ABR,Aberdeen Regional Airport,Aberdeen,SD,USA,45.44906,-98.42183
4,ABY,Southwest Georgia Regional Airport,Albany,GA,USA,31.53552,-84.19447

In [5]:
# View the first 5 rows of the Flights dataset
df_flights.head()

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,TAXI_OUT,WHEELS_OFF,SCHEDULED_TIME,ELAPSED_TIME,AIR_TIME,DISTANCE,WHEELS_ON,TAXI_IN,SCHEDULED_ARRIVAL,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
0,2015,1,1,4,AS,98,N407AS,ANC,SEA,5,2354.0,-11.0,21.0,15.0,205.0,194.0,169.0,1448,404.0,4.0,430,408.0,-22.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,2015,1,1,4,AA,2336,N3KUAA,LAX,PBI,10,2.0,-8.0,12.0,14.0,280.0,279.0,263.0,2330,737.0,4.0,750,741.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,2015,1,1,4,US,840,N171US,SFO,CLT,20,18.0,-2.0,16.0,34.0,286.0,293.0,266.0,2296,800.0,11.0,806,811.0,5.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,2015,1,1,4,AA,258,N3HYAA,LAX,MIA,20,15.0,-5.0,15.0,30.0,285.0,281.0,258.0,2342,748.0,8.0,805,756.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,2015,1,1,4,AS,135,N527AS,SEA,ANC,25,24.0,-1.0,11.0,35.0,235.0,215.0,199.0,1448,254.0,5.0,320,259.0,-21.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
# Find total rows and columns in flights data
df_flights.shape

(5819079, 31)

In [7]:
# View the first 5 rows of the International dataset
df_intl.head()

,CITY,AIRPORT_NAME,STATE,IATA-Code,Status
0,Atlanta,Hartsfield-Jackson Atlanta International,Georgia,ATL,INTL
1,Anchorage,Ted Stevens Anchorage International Airport,Alaska,ANC,INTL
2,Austin,Austin-Bergstrom International,Texas,AUS,INTL
3,Baltimore,Baltimore/Washington International - BWI Airport,Maryland,BWI,INTL
4,Boston,Logan International Airport,Massachusetts,BOS,INTL

## Data Cleaning
Review the Flights data and determine which columns and rows can be removed from the dataset.

In [8]:
# Get listing of all columns in the Flight data
df_flights.columns

Index(['YEAR', 'MONTH', 'DAY', 'DAY_OF_WEEK', 'AIRLINE', 'FLIGHT_NUMBER',
       'TAIL_NUMBER', 'ORIGIN_AIRPORT', 'DESTINATION_AIRPORT',
       'SCHEDULED_DEPARTURE', 'DEPARTURE_TIME', 'DEPARTURE_DELAY', 'TAXI_OUT',
       'WHEELS_OFF', 'SCHEDULED_TIME', 'ELAPSED_TIME', 'AIR_TIME', 'DISTANCE',
       'WHEELS_ON', 'TAXI_IN', 'SCHEDULED_ARRIVAL', 'ARRIVAL_TIME',
       'ARRIVAL_DELAY', 'DIVERTED', 'CANCELLED', 'CANCELLATION_REASON',
       'AIR_SYSTEM_DELAY', 'SECURITY_DELAY', 'AIRLINE_DELAY',
       'LATE_AIRCRAFT_DELAY', 'WEATHER_DELAY'],
      dtype='object')

Drop columns that are not needed in the analysis:
- FLIGHT_NUMBER, DAY_OF_WEEK, AIR_SYSTEM_DELAY, SECURITY_DELAY, AIRLINE_DELAY, LATE_AIRCRAFT_DELAY, WEATHER_DELAY, CANCELLATION_REASON, TAXI_OUT,
       WHEELS_OFF, SCHEDULED_TIME, ELAPSED_TIME, AIR_TIME, DISTANCE, WHEELS_ON, TAXI_IN

In [9]:
# Drop columns 
drop = ['FLIGHT_NUMBER', 'DAY_OF_WEEK', 'AIR_SYSTEM_DELAY', 'SECURITY_DELAY', 'AIRLINE_DELAY',
       'LATE_AIRCRAFT_DELAY', 'WEATHER_DELAY', 'CANCELLATION_REASON', 'TAXI_OUT',
       'WHEELS_OFF', 'SCHEDULED_TIME', 'ELAPSED_TIME', 'AIR_TIME', 'DISTANCE',
       'WHEELS_ON', 'TAXI_IN']

df_flights.drop(drop, axis=1, inplace=True)

There are flights that were DIVERTED or CANCELLED. For the purposes of the analysis, those rows will be removed. Drop the columns when finished.

In [10]:
# Drop rows where the flight was CANCELLED OR DIVERTED
df_flights.drop(df_flights.index[df_flights['CANCELLED'] == 1], inplace=True)
df_flights.drop(df_flights.index[df_flights['DIVERTED'] == 1], inplace=True)

# Drop CANCELLED & DIVERTED columns
df_flights.drop('CANCELLED', axis=1, inplace=True)
df_flights.drop('DIVERTED', axis=1, inplace=True)

All NaN values have been removed from the dataset.

In [11]:
# Examine the Flights dataset for NaN (Null) values 
df_flights.isnull().sum(), df_flights.shape

(YEAR                   0
 MONTH                  0
 DAY                    0
 AIRLINE                0
 TAIL_NUMBER            0
 ORIGIN_AIRPORT         0
 DESTINATION_AIRPORT    0
 SCHEDULED_DEPARTURE    0
 DEPARTURE_TIME         0
 DEPARTURE_DELAY        0
 SCHEDULED_ARRIVAL      0
 ARRIVAL_TIME           0
 ARRIVAL_DELAY          0
 dtype: int64,
 (5714008, 13))

The Flights data started with 5819079 rows of data. We now have 5714008 rows remaining.<br>
The total reduction of 1.8% in data rows should not have any material impact on our final results.

Convert DEPARTURE_DELAY and ARRIVAL_DELAY from Float to Integer values.

In [12]:
# Convert column values from Float to Integer
df_flights = df_flights.astype({'DEPARTURE_DELAY':int})
df_flights = df_flights.astype({'ARRIVAL_DELAY':int})

In [13]:
df_flights.head()

,YEAR,MONTH,DAY,AIRLINE,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,SCHEDULED_ARRIVAL,ARRIVAL_TIME,ARRIVAL_DELAY
0,2015,1,1,AS,N407AS,ANC,SEA,5,2354.0,-11,430,408.0,-22
1,2015,1,1,AA,N3KUAA,LAX,PBI,10,2.0,-8,750,741.0,-9
2,2015,1,1,US,N171US,SFO,CLT,20,18.0,-2,806,811.0,5
3,2015,1,1,AA,N3HYAA,LAX,MIA,20,15.0,-5,805,756.0,-9
4,2015,1,1,AS,N527AS,SEA,ANC,25,24.0,-1,320,259.0,-21

## Join Datasets
- Rename column AIRLINE to AIRLINE_CODE in df_flights
- From df_airports bring in the Airport Name based on the IATA code of the ORIGIN_AIRPORT in df_flights
- From df_airlines bring in the Airline Name based on the IATA code of the AIRLINE_CODE in df_flights
- From df_international_airports bring in the airport Status based on the IATA code of the ORIGIN_AIRPORT in df_flights

In [14]:
# Rename column
df_flights.rename(columns={'AIRLINE': 'AIRLINE_CODE'}, inplace=True)

In [15]:
# Bring in Airport Name and drop additional columns
df_flights = df_flights.merge(df_airports,left_on='ORIGIN_AIRPORT', right_on='IATA_CODE', how='left').drop(columns=[
    'IATA_CODE', 'CITY', 'STATE', 'COUNTRY', 'LATITUDE', 'LONGITUDE'])

In [16]:
# Bring in Airline Name and drop additonal columns
df_flights = df_flights.merge(df_airlines, left_on='AIRLINE_CODE', right_on='IATA_CODE', how='left').drop(columns=['IATA_CODE'])

In [17]:
# Bring in airport Status and drop additional columns
df_flights = df_flights.merge(df_intl, left_on='ORIGIN_AIRPORT', right_on='IATA-Code', how='left').drop(columns=['CITY','AIRPORT_NAME', 'STATE', 'IATA-Code'])

# Set Status to REG for all flights that are not already identified as INTL
df_flights['Status'] = df_flights['Status'].fillna("REG")

From the Aiports.csv, there are only 322 airports identified. In the Flights.csv data, there are 628 unique values in the ORIGIN_AIRPORT field. After the merge of the files, we need to drop the rows with no AIRPORT name identified due to ORIGIN_AIRPORT containing Numeric values instead of a proper IATA code.

In [20]:
# Drop the rows that are missing an Airport Name
df_flights.drop(df_flights.index[df_flights['AIRPORT'].isna()], inplace=True)

Convert the Year, Month, and Day columns into a Date column. Drop the Year, Month, and Day columns when finished.

In [22]:
# Create DATE column
df_flights['DATE'] = pd.to_datetime(df_flights[['YEAR', 'MONTH', 'DAY']])

# Drop columns
drop = ['YEAR', 'MONTH', 'DAY']
df_flights.drop(drop, axis=1, inplace=True)

Convert SCHEDULED_DEPARTURE, DEPARTURE_TIME, SCHEDULED_ARRIVAL, ARRIVAL_TIME columns to proper time values HH:MM.<br>
Add the DATE infront of the time for SCHEDULED_DEPARTURE.

In [23]:
# Time functions reused under Apache 2.0 License
# https://www.kaggle.com/code/fabiendaniel/predicting-flight-delays-tutorial
# Original author: FABIENDANIEL 

df_flights['SCHEDULED_DEPARTURE'] = tf.flight_time(df_flights, 'SCHEDULED_DEPARTURE')
df_flights['DEPARTURE_TIME'] = df_flights['DEPARTURE_TIME'].apply(tf.format_hour)
df_flights['SCHEDULED_ARRIVAL'] = df_flights['SCHEDULED_ARRIVAL'].apply(tf.format_hour)
df_flights['ARRIVAL_TIME'] = df_flights['ARRIVAL_TIME'].apply(tf.format_hour)

Validate that the time fields now contain desired formatting.

In [24]:
df_flights.head()

,AIRLINE_CODE,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,SCHEDULED_ARRIVAL,ARRIVAL_TIME,ARRIVAL_DELAY,AIRPORT,AIRLINE,Status,DATE
0,AS,N407AS,ANC,SEA,2015-01-01 00:05:00,23:54:00,-11,04:30:00,04:08:00,-22,Ted Stevens Anchorage International Airport,Alaska Airlines Inc.,INTL,2015-01-01
1,AA,N3KUAA,LAX,PBI,2015-01-01 00:10:00,00:02:00,-8,07:50:00,07:41:00,-9,Los Angeles International Airport,American Airlines Inc.,INTL,2015-01-01
2,US,N171US,SFO,CLT,2015-01-01 00:20:00,00:18:00,-2,08:06:00,08:11:00,5,San Francisco International Airport,US Airways Inc.,INTL,2015-01-01
3,AA,N3HYAA,LAX,MIA,2015-01-01 00:20:00,00:15:00,-5,08:05:00,07:56:00,-9,Los Angeles International Airport,American Airlines Inc.,INTL,2015-01-01
4,AS,N527AS,SEA,ANC,2015-01-01 00:25:00,00:24:00,-1,03:20:00,02:59:00,-21,Seattle-Tacoma International Airport,Alaska Airlines Inc.,INTL,2015-01-01

Reorder the columns to make analysis easier and then sort the columns.

In [25]:
# Change the order of the columns
df_flights = df_flights[['DATE', 'TAIL_NUMBER', 'SCHEDULED_DEPARTURE', 'ORIGIN_AIRPORT', 'DESTINATION_AIRPORT', 'DEPARTURE_TIME', 
                         'DEPARTURE_DELAY', 'SCHEDULED_ARRIVAL', 'ARRIVAL_TIME', 'ARRIVAL_DELAY', 'Status', 'AIRLINE_CODE', 
                         'AIRLINE', 'AIRPORT']]

# Sort the dataframe
df_flights.sort_values(by=['DATE', 'TAIL_NUMBER', 'SCHEDULED_DEPARTURE'], axis=0, ascending=[True, True, True], inplace=True,
                       kind='quicksort', ignore_index=True, key=None)

Breakdown of flights associated with International and Regional airports in df_flights.

In [26]:
# Count of INTL and REG flights
df_flights['Status'].value_counts()

Status
INTL    4217609
REG     1013521
Name: count, dtype: int64

Export combined flight data to all_flights.csv to examine in Tableau to ensure all the data is appropriate and valid for analysis.

In [27]:
# Export all flight data to .csv for visualization in Tableau
df_flights.to_csv('data/all_flights.csv', encoding='utf-8', index=False)

Sample data in Tableau to get a visual representation of the data, and to gather insights on how to perform the row-by-row itteration to mark flights as DELAYED or NOT DELAYED.
![Tableau Screenshot](./images/tableau.jpg)

## Identify Delayed Flights
Parse the Flights data and identify all departing flihts that have been delayed due to an inbound aircraft delay.<br>
Add a new DELAYED column to the Flights data to hold that status.

In [28]:
# Add a new DELAYED column with blank values
df_flights['DELAYED'] = ''

In [29]:
start_date = ""
curr_date = "" 
start_tail = ""
curr_tail = ""

for index, row in df_flights.iterrows():
    curr_date = row["DATE"]
    curr_tail = row["TAIL_NUMBER"]

    # Start of flight data for new date
    if start_date != curr_date:     
        
        # Starting new date and aircraft
        start_date = curr_date      
        start_tail = curr_tail

        # Capture the arrival delay
        arrival_delay = row["ARRIVAL_DELAY"]  

        # Mark row as NOT DELAYED
        df_flights.at[index, 'DELAYED'] = "NOT DELAYED"

    else:   # Dates match so still processing that days' flights
       
        # Check to see if still processing same aircraft
        if start_tail == curr_tail:
            
            # Capture the departure delay 
            departure_delay = row["DEPARTURE_DELAY"]

            # Get the arrival delay of the flight we just added for next iteration
            arrival_delay = row["ARRIVAL_DELAY"]

            # If previous flight row has ARRIVAL_DELAY > 0 and this row has DEPARTURE_DELAY > 0
            if (arrival_delay > 0 and departure_delay > 0):

                # Mark row as DELAYED
                df_flights.at[index, 'DELAYED'] = "DELAYED"

            else:   # No delay match

                # Get the new arrival delay
                arrival_delay = row["ARRIVAL_DELAY"]

                # Mark row as NOT DELAYED
                df_flights.at[index, 'DELAYED'] = "NOT DELAYED"

        else:   # Date matches but new aircraft

            # Capture the arrival delay and set the start_tail
            arrival_delay = row["ARRIVAL_DELAY"]
            start_tail = curr_tail

            # Mark row as NOT DELAYED
            df_flights.at[index, 'DELAYED'] = "NOT DELAYED"



#df_intl = pd.DataFrame(intl)
#df_reg = pd.DataFrame(reg)

In [30]:
df_flights.isnull().sum(), df_flights.shape

(DATE                        0
 TAIL_NUMBER                 0
 SCHEDULED_DEPARTURE    482878
 ORIGIN_AIRPORT              0
 DESTINATION_AIRPORT         0
 DEPARTURE_TIME              0
 DEPARTURE_DELAY             0
 SCHEDULED_ARRIVAL           0
 ARRIVAL_TIME                0
 ARRIVAL_DELAY               0
 Status                      0
 AIRLINE_CODE                0
 AIRLINE                     0
 AIRPORT                     0
 DELAYED                     0
 dtype: int64,
 (5231130, 15))

In [31]:
df_flights['AIRPORT'].unique()

array(['Dallas/Fort Worth International Airport',
       'Memphis International Airport',
       "Chicago O'Hare International Airport",
       'Yampa Valley Airport\xa0(Yampa Valley Regional)',
       'Jackson Hole Airport',
       'Hartsfield-Jackson Atlanta International Airport',
       'Eagle County Regional Airport',
       'Cleveland Hopkins International Airport',
       'Gunnison-Crested Butte Regional Airport',
       'Miami International Airport',
       'George Bush Intercontinental Airport',
       'Los Angeles International Airport',
       'Washington Dulles International Airport',
       'St. Louis International Airport at Lambert Field',
       'Nashville International Airport',
       'Gerald R. Ford International Airport',
       'Detroit Metropolitan Airport', 'McGhee Tyson Airport',
       'Sioux Falls Regional Airport',
       'Bill and Hillary Clinton National Airport\xa0(Adams Field)',
       'LaGuardia Airport (Marine Air Terminal)',
       'Charlotte Douglas International Airport',
       'Minneapolis-Saint Paul International Airport',
       'Salt Lake City International Airport',
       'Philadelphia International Airport',
       'Southwest Florida International Airport',
       'Louis Armstrong New Orleans International Airport',
       'Tampa International Airport', 'San Antonio International Airport',
       'San Francisco International Airport',
       'Bradley International Airport',
       'Kansas City International Airport',
       'Fort Lauderdale-Hollywood International Airport',
       'Denver International Airport',
       'Green Bay-Austin Straubel International Airport',
       'Newark Liberty International Airport',
       'Albuquerque International Sunport',
       'Raleigh-Durham International Airport',
       'Indianapolis International Airport', 'Santa Fe Municipal Airport',
       'Minot International Airport',
       'Sloulin Field International Airport',
       'Port Columbus International Airport',
       'Des Moines International Airport',
       'Jacksonville International Airport',
       'Tulsa International Airport',
       'Cincinnati/Northern Kentucky International Airport',
       'Lubbock Preston Smith International Airport',
       'Grand Junction Regional Airport\xa0(Walker Field)',
       'Rick Husband Amarillo International Airport',
       'Lafayette Regional Airport', 'Baton Rouge Metropolitan Airport',
       'El Paso International Airport',
       'Northwest Arkansas Regional Airport',
       'Tucson International Airport', 'McCarran International Airport',
       'John F. Kennedy International Airport\xa0(New York International Airport)',
       'Luis Muñoz Marín International Airport',
       'Boise Airport\xa0(Boise Air Terminal)',
       'Austin-Bergstrom International Airport',
       'Rapid City Regional Airport',
       'Capital Region International Airport\xa0( Lansing Capital City)',
       'Louisville International Airport\xa0(Standiford Field)',
       'Jackson-Evers International Airport', 'Yeager Airport',
       'Central Wisconsin Airport', 'Appleton International Airport',
       'Syracuse Hancock International Airport',
       'Norfolk International Airport',
       'Wichita Dwight D. Eisenhower National Airport\xa0(Wichita Mid-Continent Airport)',
       'San Diego International Airport\xa0(Lindbergh Field)',
       'Orlando International Airport', 'Cyril E. King Airport',
       'Dickinson Theodore Roosevelt Regional Airport',
       'Dane County Regional Airport',
       'South Bend International Airport\xa0(South Bend Regional)',
       'General Mitchell International Airport',
       'Hector International Airport',
       'Birmingham-Shuttlesworth International Airport',
       'Portland International Airport',
       'Ronald Reagan Washington National Airport',
       'Pittsburgh International Airport',
       'Gulfport-Biloxi International Airport', 'Monroe Regional Airport',
       'Valley International Airport', 'Huntsville International Airport',
       'Piedmont Triad International Airport',
       'Greenville-Spartanburg International Airport',
       'Elmira/Corning Regional Airport',
       'Baltimore-Washington International Airport',
       'Buffalo Niagara International Airport',
       'Killeen-Fort Hood Regional Airport',
       'Corpus Christi International Airport',
       'Erie International Airport', 'Burlington International Airport',
       'Seattle-Tacoma International Airport',
       'Kona International Airport at Keahole',
       'Richmond International Airport', 'Asheville Regional Airport',
       'Eppley Airfield', 'Lehigh Valley International Airport',
       'Northwest Florida Beaches International Airport',
       'Westchester County Airport',
       'Chattanooga Metropolitan Airport\xa0(Lovell Field)',
       'Brownsville/South Padre Island International Airport',
       'Savannah/Hilton Head International Airport',
       'John Wayne Airport\xa0(Orange County Airport)',
       'Blue Grass Airport',
       'Pensacola International Airport\xa0(Pensacola Gulf Coast Regional Airport)',
       'Mobile Regional Airport', 'The Eastern Iowa Airport',
       'Shreveport Regional Airport', 'Dallas Love Field',
       'McAllen-Miller International Airport\xa0(McAllen Miller International)',
       'Charleston International Airport/Charleston AFB',
       'Cherry Capital Airport', 'Honolulu International Airport',
       'Lihue Airport', 'Columbia Metropolitan Airport',
       'Destin-Fort Walton Beach Airport/Eglin AFB',
       'Will Rogers World Airport',
       'James M. Cox Dayton International Airport',
       'Lake Charles Regional Airport',
       'Norman Y. Mineta San José International Airport',
       'Alexandria International Airport',
       'Quad City International Airport', 'University Park Airport',
       'Theodore Francis Green State Airport',
       'Manchester-Boston Regional Airport',
       'Greater Rochester International Airport',
       'Gen. Edward Lawrence Logan International Airport',
       'Phoenix Sky Harbor International Airport',
       'Central Illinois Regional Airport at Bloomington-Normal',
       'Easterwood Airport',
       'Roanoke Regional Airport\xa0(Woodrum Field)',
       'Bishop International Airport',
       'Wilkes-Barre/Scranton International Airport',
       'Lincoln Airport\xa0(Lincoln Municipal)',
       'Montrose Regional Airport', 'Laredo International Airport',
       'Akron-Canton Regional Airport', 'Spokane International Airport',
       'City of Colorado Springs Municipal Airport',
       'Henry E. Rohlsen Airport',
       'Ted Stevens Anchorage International Airport', 'Kahului Airport',
       'Palm Beach International Airport',
       'Portland International Jetport',
       'Wilmington International Airport', 'Gainesville Regional Airport',
       'Albany International Airport', 'Trenton Mercer Airport',
       'William P. Hobby Airport', 'Oakland International Airport',
       'Chicago Midway International Airport',
       'Northeast Florida Regional Airport\xa0(St. Augustine Airport)',
       'Long Beach Airport\xa0(Daugherty Field)',
       'Bob Hope Airport\xa0(Hollywood Burbank Airport)',
       'Fresno Yosemite International Airport',
       'Ontario International Airport',
       'Santa Barbara Municipal Airport\xa0(Santa Barbara Airport)',
       'Reno/Tahoe International Airport', 'Elko Regional Airport',
       'Long Island MacArthur Airport',
       'Sacramento International Airport', 'Meadows Field',
       'Rogue Valley International Airport', 'Worcester Regional Airport',
       'Rafael Hernández Airport', 'Stewart International Airport',
       'Midland International Airport', 'Tyler Pounds Regional Airport',
       'Arcata Airport',
       'San Luis Obispo County Regional Airport\xa0(McChesney Field)',
       'Monterey Regional Airport\xa0(Monterey Peninsula Airport)',
       'Del Norte County Airport\xa0(Jack McNamara Field)',
       'Redding Municipal Airport', 'Laramie Regional Airport',
       'Pueblo Memorial Airport', 'Pocatello Regional Airport',
       'Valdez Airport', 'Canyonlands Field',
       'Bellingham International Airport',
       'Palm Springs International Airport',
       'Key West International Airport', 'Mercedita Airport',
       'Missoula International Airport',
       'Billings Logan International Airport',
       'Bozeman Yellowstone International Airport\xa0(Gallatin Field Airport)',
       'Sarasota-Bradenton International Airport',
       'Falls International Airport', 'Brainerd Lakes Regional Airport',
       'Duluth International Airport', 'Ford Airport',
       'Rhinelander-Oneida County Airport', 'Aberdeen Regional Airport',
       'Bemidji Regional Airport',
       'Range Regional Airport\xa0(Chisholm-Hibbing Airport)',
       'Delta County Airport', 'Grand Forks International Airport',
       'Pellston Regional Airport of Emmet County',
       'Chippewa County International Airport', 'Bert Mooney Airport',
       'St. George Regional Airport', 'Idaho Falls Regional Airport',
       'Helena Regional Airport',
       'Eugene Airport\xa0(Mahlon Sweet Field)',
       'Bismarck Municipal Airport', 'Alpena County Regional Airport',
       'Fairbanks International Airport', 'MBS International Airport',
       'Abraham Lincoln Capital Airport', 'Hilo International Airport',
       'Natrona County International Airport',
       'Atlantic City International Airport',
       'Myrtle Beach International Airport', 'Yuma International Airport',
       'Durango-La Plata County Airport', 'Flagstaff Pulliam Airport',
       'Deadhorse Airport\xa0(Prudhoe Bay Airport)',
       'Wiley Post-Will Rogers Memorial Airport',
       'Harrisburg International Airport', 'Aspen-Pitkin County Airport',
       'Arnold Palmer Regional Airport', 'Dothan Regional Airport',
       'Albert J. Ellis Airport', 'Gillette-Campbell County Airport',
       'Rock Springs-Sweetwater County Airport',
       'McClellan-Palomar Airport',
       'Santa Maria Public Airport\xa0(Capt G. Allan Hancock Field)',
       'Yellowstone Regional Airport',
       'Tallahassee International Airport',
       'Springfield-Branson National Airport',
       'Glacier Park International Airport',
       'Garden City Regional Airport', 'La Crosse Regional Airport',
       'Dubuque Regional Airport', 'Waterloo Regional Airport',
       'Friedman Memorial Airport',
       'Kalamazoo/Battle Creek International Airport',
       'Fort Wayne International Airport', 'Columbia Regional Airport',
       'Sioux Gateway Airport',
       'Magic Valley Regional Airport\xa0(Joslin Field)',
       'University of Illinois - Willard Airport',
       'Niagara Falls International Airport', 'Waco Regional Airport',
       'Plattsburgh International Airport', 'Evansville Regional Airport',
       'Manhattan Regional Airport', 'Ketchikan International Airport',
       'Sitka Rocky Gutierrez Airport', 'Juneau International Airport',
       'Lawton-Fort Sill Regional Airport',
       'Chippewa Valley Regional Airport', 'Toledo Express Airport',
       'Rochester International Airport',
       'General Wayne A. Downing Peoria International Airport',
       'Fort Smith Regional Airport', 'Joplin Regional Airport',
       'Cedar City Regional Airport',
       'Texarkana Regional Airport\xa0(Webb Field)',
       'Hays Regional Airport', 'Great Falls International Airport',
       'Tri-Cities Regional Airport', 'Montgomery Regional Airport',
       'Redmond Municipal Airport\xa0(Roberts Field)',
       'Charlottesville-Albemarle Airport', 'Wrangell Airport',
       'Petersburg James A. Johnson Airport', 'Tri-Cities Airport',
       'Ralph Wien Memorial Airport', 'Bethel Airport',
       'Mammoth Yosemite Airport', 'Adak Airport', 'Nome Airport',
       'Guam International Airport', 'Lewiston-Nez Perce County Airport',
       'Jack Brooks Regional Airport\xa0(Southeast Texas Regional)',
       'Fayetteville Regional Airport',
       'Augusta Regional Airport\xa0(Bush Field)',
       'Coastal Carolina Regional Airport\xa0(Craven County Regional)',
       'Newport News/Williamsburg International Airport',
       'Golden Triangle Regional Airport',
       'Hattiesburg-Laurel Regional Airport', 'Meridian Regional Airport',
       'East Texas Regional Airport',
       'Daytona Beach International Airport', 'Wilmington Airport',
       'Central Nebraska Regional Airport', 'Muskegon County Airport',
       'Jamestown Regional Airport',
       'Wichita Falls Municipal Airport/Sheppard AFB',
       'Devils Lake Regional Airport', 'Brunswick Golden Isles Airport',
       'Columbus Metropolitan Airport',
       'Southwest Georgia Regional Airport', 'Valdosta Regional Airport',
       'St. Cloud Regional Airport', 'Sawyer International Airport',
       'Barkley Regional Airport', 'Melbourne International Airport',
       'Houghton County Memorial Airport',
       'Merle K. (Mudhole) Smith Airport', 'Yakutat Airport',
       'Pago Pago International Airport (Tafuna Airport)',
       'Abilene Regional Airport',
       'San Angelo Regional Airport\xa0(Mathis Field)', 'Kodiak Airport',
       'Southwest Oregon Regional Airport\xa0(North Bend Municipal)',
       'Roswell International Air Center', 'Lea County Regional Airport',
       'Greater Binghamton Airport', 'Bangor International Airport',
       'Ithaca Tompkins Regional Airport', 'Nantucket Memorial Airport',
       "Martha's Vineyard Airport", 'Westerly State Airport',
       'King Salmon Airport', 'Dillingham Airport', 'Gustavus Airport',
       'Barnstable Municipal Airport'], dtype=object)